<p>
  <strong>genero:</strong>
  <%= targeting.genero %>
</p>

<% if targeting.places.count >0 %>
	<strong>Places</strong><br/>
<% end %>
<%= render targeting.places  %>


<label class="text-danger" id="validation-error-place"></label>
<%= render 'places/form',:ad=> targeting.ad,:targeting => targeting %>

<% if size >1 %>
<p>
  <%= link_to 'Destroy Targeting', [targeting.ad, targeting],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
