<p>
  <strong>Places:</strong>
  <%= @targeting.places %>
</p>
 
<p>
  <strong>Genero:</strong>
  <%= @targeting.genero %>
</p>

<%= link_to 'Edit', edit_targeting_path(@targeting) %> |
<%= link_to 'Back', targetings_path %>
