<p>
  <strong>AdText:</strong>
  <%= creative.adText %>
</p>
 
<p>
  <strong>Bid:</strong>
  <%= number_to_currency(creative.bid,unit: "R$", separator: ",", delimiter: "") %>
</p>
<% if size >1 %>
<p>
  <%= link_to 'Destroy Creative', [creative.ad, creative],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
