<p>
  <strong>AdText:</strong>
  <%= @creative.adText %>
</p>
 
<p>
  <strong>Bid:</strong>
  <%= @creative.bid %>
</p>

<%= link_to 'Edit', edit_creative_path(@creative) %> |
<%= link_to 'Back', creatives_path %>
