<div  class="col-xs-12 text-center">

	<%= form_for([targeting.ad,targeting, targeting.places.build]) do |f| %>
		<p>
			<!--<%= f.label :address %><br>-->
			<%= f.text_field :address,:placeholder => "Add new Place" %> 
			<span><%= f.submit %></span>
			
		</p>
	<% end %>
</div>
